{{> top }}
    <a href="../">Guffipedia &gt;</a>
    <main>
      <h1>{{word}}</h1>

      {{#each definitions}}
        <h5>Definition</h5>
        <p>{{definition}}</p>
      {{/each}}
    </main>
{{> bottom }}
