{{> top }}
    <main>

     	<h1>FT Guffipedia</h1>
     	<div class="headshot"><img src="images/lucy.png"></div>
     	<div class="subheader">Lucy Kellaway's dictionary of business jargon and corporate nonsense</div>
     	<div class="line"></div>


		<div class="guff-container">
			{{#each words}}
				<a class="guff" href="{{@key}}/">{{word}}</a>
				<ul class="definitions">
					{{#each definitions}}
						<li>
							<ul class="definition">
								{{#if definition}}
									<li class="definition">Translation: {{definition}}</li>
								{{/if}}
								{{#if usageexample}}
									<li class="usageexample">{{usageexample}}</li>
								{{/if}}
								{{#if relatedwords}}
									<li class="relatedwords">Related words</li>
								{{/if}}
							</ul>
						</li>
					{{/each}}
				</ul>
			{{/each}}
		</div>
    </main>
{{> bottom }}
