{{> top }}
	<main>
		<h1><a href=".">Guffipedia</a></h1>
     	<div class="headshot"><img src="images/lucy.png"></div>
     	<div class="subheader">Lucy Kellaway&rsquo;s dictionary of business jargon and corporate nonsense</div>
     	<div class="line"></div>

		<div class="thanks-message">
			<p>Thank you for submitting your guff entry! Lucy will review this and if you're lucky, will add it to the Guffipedia!</p>

			<p>Browse through some more <a href=".">guff</a> while you wait.</p>
		</div>
	</main>
{{> bottom }}
