<!doctype html>
<html lang="en-GB" class="core">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
  
    <link rel="shortcut icon" href="https://ig.ft.com/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="https//ig.ft.com/apple-touch-icon.png">
    
    {{#if word.word}}<base href="../" />{{/if}}
    <title>{{#if word.word}}{{word.word}} - {{/if}}Business jargon dictionary: Guffpedia</title>
    
    <!-- smoosh -->
    <script src="scripts/top.js"></script>
    <!-- endsmoosh -->

    <!-- smoosh -->
    <link rel="stylesheet" href="styles/top.css">
    <!-- endsmoosh -->

    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-35229645-5', 'auto');
    ga('create', 'UA-35229645-1', 'auto', 'igTracker');
    ga('require','displayfeatures');
    ga('require', 'linkid');
    ga('send', 'pageview');
    </script>
    
   <script>(function(){function init(){var oTracking=Origami['o-tracking'];oTracking.init({server:'https://spoor-api.ft.com/px.gif',system:{is_live:true},context:{product:'IG'}});oTracking.link.init();oTracking.page({"content":{"asset_type":"interactive","uuid":"fed43766-a020-11e5-beba-5e33e2b79e46","microsite_name":"guffipedia"}});}var o=document.createElement('script');o.async=o.defer=true;o.src='https://origami-build.ft.com/v2/bundles/js?modules=o-tracking';var s=document.getElementsByTagName('script')[0];if(o.hasOwnProperty('onreadystatechange')){o.onreadystatechange=function(){if(o.readyState==='loaded'){init();}};}else{o.onload=init;}s.parentNode.insertBefore(o,s);}());</script><noscript data-o-component="o-tracking"><img src="https://spoor-api.ft.com/px.gif?data=%7B%22action%22%3A%22view%22%2C%22category%22%3A%22page%22%2C%22context%22%3A%7B%22content%22%3A%7B%22asset_type%22%3A%22interactive%22%2C%22uuid%22%3A%22fed43766-a020-11e5-beba-5e33e2b79e46%22%7D%2C%22product%22%3A%22IG%22%2C%22microsite_name%22%3A%22guffipedia%22%7D%2C%22system%22%3A%7B%22is_live%22%3Atrue%2C%22apiKey%22%3A%22qUb9maKfKbtpRsdp0p2J7uWxRPGJEP%22%2C%22source%22%3A%22o-tracking-ns%22%2C%22version%22%3A%221.0.0%22%7D%7D" height="1" width="1" /></noscript>

    <script>const page = '{{page}}';</script>
    <header class="site-header">
      <a href="http://www.ft.com/">
        <img class="masthead" src="https://image.webservices.ft.com/v1/images/raw/fticon:brand-ft-masthead?source=ft-interactive">
      </a>
    </header>
