@import 'o-fonts/main';
$o-grid-is-silent: false;

@import 'o-colors/main';
@import 'o-footer/main';
@import 'o-grid/main';

@import 'fonts';
@import 'colours';


body {
  @include oColorsFor(page, background);

  margin: 0;
  border: 0;
  font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);
}


.site-header {
  padding: 18px 0 14px;
  text-align: center;
  border-bottom: 1px solid #e9decf;

  > a {
    opacity: 0.75;
    &:hover { opacity: 1; }
  }
}
    .masthead {
      height: 18px;
    }


h1 {
  font-family: MetricWeb;
  font-weight: 200;
  text-align: center;
  font-size: 4em;
  line-height: 1.4em;
  margin: 0px;
  color: #000000;
}

.subheader {
  font-family: MetricWeb;
  font-size: 1.8em;
  line-height: 1.1em;
  text-align: center;
  margin-top: 2px;
  color: #6a6d68;
}

.headshot {
   img {width: 150px;
    display: block;
    margin: 0 auto;}
}

.line {
  margin-top: 5px;
  border-bottom: 1px solid #e9decf;
}

@include oGridRespondTo(S) {
  .headshot {
    img {float: right;
      position: relative;
    }
  }
  h1 {
  text-align: left;
  }
  .subheader {
  text-align: left;
  }



main {
  padding: 0 15px 0 15px;
  @include oGridColspan((default: full-width, M: 8, L: 6));
  @include oGridCenter;
  .guff-container {
    margin-top: 20px;
    .guff {
      color: $dark-pink;
      font-family: "courier";
      font-size: 1.6em;
      font-style: bold;
      line-height: 1em;
      text-align: left;
      text-decoration: none;
    }
    ul.definitions {
      border-top: 1px solid black;
      padding: 0 0 18px 18px;
      &:first-child {
        border-top: none;
      }
      > li {
        list-style-type: decimal;
        ul.definition {
          padding-left: 5px;
          > li {
            list-style-type: none;
            margin: 5px 0;
          }
        }
      }
    }
  }

}

